<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Fruit Market</title>
    <style>
        header {
    background-color: #081b29; 
    color: #fff;
    padding: 20px;
    text-align: center;
  }
   body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   }
  
  footer {
    background-color: #081b29;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: auto;
  }


        </style>
</head>
<body>
    <header>
        <h1>About Fruit Market</h1>
    </header>
    <main>
        <section>
            <h2>Our Story</h2>
            <p>Welcome to Fruit Market, your one-stop destination for fresh and delicious fruits! Our journey began with a passion for providing high-quality fruits to our community. With years of experience in the fruit industry, we pride ourselves on sourcing the finest produce directly from local farmers and trusted suppliers.</p>
            <p>At Fruit Market, we believe in promoting healthy lifestyles and sustainable agriculture. That's why we prioritize offering organic and sustainably-grown fruits whenever possible. From juicy apples to exotic mangoes, we have a wide selection to satisfy every taste bud.</p>
            <p>Customer satisfaction is our top priority. Whether you're a fruit enthusiast or a health-conscious individual, we're here to cater to your needs. Explore our website, discover our diverse range of fruits, and let us bring a burst of flavor to your life!</p>
        </section>

        <section>
            <h2>Our Mission</h2>
            <p>Our mission at Fruit Market is simple: to provide our customers with the freshest, highest-quality fruits while promoting sustainable practices and supporting local farmers. We strive to create a seamless shopping experience that is both convenient and enjoyable.</p>
            <p>Through our dedication to excellence and commitment to ethical sourcing, we aim to inspire healthier lifestyles and contribute to a greener planet. Join us in our mission to make fresh, delicious fruits accessible to everyone!</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Fruit Market. All rights reserved.</p>
    </footer>
</body>
</html>